<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="parallax"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>My Personal API</h1>

          <form id="newDestinationForm">
            <div class="form-group">
              <label for="title">Recommend Another Destination: </label>
              <input type="text" class="form-control" name="recommendation-input" placeholder="Recommend a destination...">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

          <div class="col-lg-8 col-lg-offset-2 destinationTarget">
          </div>

          <br>
          <h6 class="text-center"><a href="/api">Read My API Documentation</a></h6>
        </div>
      </div>
    </div>
  </body>
</html>
